* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #000;
  align-items: center;
}

button {
  border: none;
  border-radius: 5px;
  outline: none;
}

li {
  list-style: none;
}

.invitation {
  width: 100%;
  height: 160vw;
  max-width: 420px;
  overflow: hidden;
  position: relative;
  perspective: 1000px;
  background: #fff;
}

.invitation::before {
  content: "";
  background: url('./images/bg.jpg');
  background-size: cover;
  opacity: 0.7;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.btn-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, auto));
  width: 100%;
  max-width: 420px;
  padding-top: 1px;
}

.btn-area button {
  height: 25px;
  border: 1px solid #000;
}

.arrow {
  width: 32px;
  height: 32px;
  position: relative;
  /* margin-bottom: 30px; */
  display: block;
}

.arrow::before, .arrow::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
}

.arrow::before {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  border-right: 0;
  border-bottom: 0;
}

.arrow::after {
  width: 48px;
  height: 1px;
  background: red;
  transform-origin: 0 100%;
  transform: rotate(45deg);
}

.prev .arrow {
  transform: rotate(-45deg);
}

.next .arrow {
  transform: rotate(135deg);
}

.pannel {
  width: 100%;
  height: 100%;
  font: bold 4.2vw/5.55vw serif;
  color: #000;
  transition: 1.2s;
  transform-style: preserve-3d;
}

.first-area {
  position: absolute;
  transform: translateX(0) rotateY(0);
  transform-origin: left;
  z-index: 10;
}

.second-area {
  position: absolute;
  transform-origin: right;
  transform: translateX(0);
  z-index: 9;
}

.content {
  backface-visibility: hidden;
  /* text-shadow: 2px 2px 2px #000; */
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.5%;
  background-color: #fffff7;
  /* background-color: #e6e6e6; */
  overflow-y: auto;
}

.front {
  transform: rotateY(0);
  overflow: hidden;
}

.back {
  transform: rotateY(-180deg);
}

[data-page='2'] .first-area {
  transform: translateX(100%) rotateY(-180deg);
}

[data-page='2'] :where(.second-area, .third-area) {
  transform: translateX(100%);
}

:where([data-page='3'], [data-page='4'], [data-page='5']) .first-area {
  transform: translateX(0) rotateY(-180deg);
}

[data-page='3'] .second-area, [data-page='5'] .third-area {
  transform: translateX(0);
}

[data-page='4'] .second-area {
  transform: translateX(-100%) rotateY(180deg);
}

[data-page='4'] .third-area {
  transform: translateX(-100%);
}

[data-page='5'] .second-area {
  transform: translateX(0) rotateY(180deg);
}

.title {
  text-align: center;
  line-height: 7.2vw;
  margin-bottom: 3.7vw;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  width: 95%;
  margin: 0 auto;
}

.table th, .table td {
  text-align: center;
}

.table tr th:first-child, .table tr td:first-child {
  color: #c6472b;
}

.today {
  background-color: #c28e79;
  border-radius: 50%;
  display: block;
  width: 6.5vw;
  line-height: 6.5vw;
  margin: 0 auto;
}

.heart {
  color: #ea7664;
  text-align: center;
  margin: 7vw 0 5vw;
}

.groom, .bride {
  width: 95%;
  background: transparent;
  color: #c28e79;
  border: 1px solid #c28e79;
  padding: 1% 0;
}

.groom {
  margin-bottom: 2.5vw;
}

:where(.groom, .bride)::before {
  font-size: 5vw;
  margin-right: 10px;
}

:where(.groom, .bride) span {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -99999px;
  top: -99999px;
}

.groom::before {
  content: '\1F935';
}

.bride::before {
  content: '\1F470';
}

.invite-text, .merry {
  text-align: center;
}

.invite-text {
  margin-top: 2.5vw;
}

.merry {
  width: 4.2vw;
  max-width: 17px;
  color: #f5b826;
}

.merry + img {
  width: 17.5vw;
  max-width: 73px;
}

#map {
  width: 100%;
  height: 57.2vw;
}

.map-area dl dt {
  margin: 4.5vw 0 1.5vw;
}

.map-area dl dd {
  font-weight: normal;
  color: #666;
}

.img-wrap {
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(100px, 10vmin);
  grid-gap: 10px;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.img-wrap li {
  grid-row: span var(--row);
  grid-column: span var(--col);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

[data-page='4'] .img-wrap li {
  animation: scaleIn 0.55s 0.65s ease both;
}

/* @keyframes scaleIn{
from { transform: scale(0); opacity: 0;}
} */
.img-wrap li:nth-child(1) {
  --row: 2;
  --col: 2;
}

.img-wrap li:nth-child(2) {
  --row: 1;
  --col: 2;
}

.img-wrap li:nth-child(3) {
  --row: 1;
  --col: 1;
}

.img-wrap li:nth-child(4) {
  --row: 1;
  --col: 2;
}

.img-wrap li:nth-child(5) {
  --row: 2;
  --col: 2;
}

.img-wrap li:nth-child(6) {
  --row: 1;
  --col: 1;
}

.img-wrap li:nth-child(7) {
  --row: 1;
  --col: 2;
}

.img-wrap li:nth-child(8) {
  --row: 1;
  --col: 2;
}

.img-wrap li:nth-child(9) {
  --row: 2;
  --col: 2;
}

.img-wrap li:nth-child(10) {
  --row: 2;
  --col: 2;
}

.img-wrap li:nth-child(11) {
  --row: 1;
  --col: 2;
}

.img-wrap li:nth-child(12) {
  --row: 1;
  --col: 2;
}

.img-wrap li:nth-child(13) {
  --row: 1;
  --col: 2;
}

.img-wrap li:nth-child(14) {
  --row: 2;
  --col: 2;
}

.img-wrap li:nth-child(15) {
  --row: 1;
  --col: 2;
}

.img-wrap li:nth-child(16) {
  --row: 1;
  --col: 2;
}

.img-pop {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.show + .img-pop {
  display: flex;
}

.img-pop::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: -1;
}

.img-pop img {
  width: 96%;
}

.img-pop :where(.prev, .next) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  width: 30px;
  height: 30px;
  border: 0;
  background: rgba(0, 0, 0, 0.3);
}

.img-pop .prev {
  left: 2%;
}

.img-pop .next {
  right: 2%;
}

.img-pop :where(.prev, .next)::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 8px;
}

.img-pop .prev::before {
  transform: rotate(225deg);
  left: 10px;
}

.img-pop .next::before {
  transform: rotate(45deg);
  right: 10px;
}

.img-pop .close {
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
  background: rgba(0, 0, 0, 0);
}

.img-pop .close::after {
  display: block;
  content: "\00d7";
  font-size: 30px;
  color: #fff;
}

.comment-wrap {
  display: block;
}

.btn-popup {
  background: #d8b8aa;
  color: #fff;
  width: 100%;
  margin-bottom: 3.5%;
  height: 7.5vw;
}

#commentArea {
  width: 100%;
  overflow-y: auto;
  height: 89.5%;
}

.comments {
  position: relative;
  padding: 0.75rem 1rem;
  text-align: left;
  line-height: 1.5rem;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 6px;
  border: 1px solid #bdbdbd;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 5%);
}

.comments strong {
  display: block;
  margin-bottom: 0.25rem;
}

.comments p {
  line-height: 1.25rem;
}

.comments button {
  position: absolute;
  right: 1rem;
  top: 0.75rem;
  background: none;
}

.comments svg {
  width: 8px;
  height: 8px;
  fill: #aaa;
}

.comment-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

:where(.insert, .delete) .comment-popup {
  display: flex;
}

.comment-popup form {
  width: 90%;
  height: fit-content;
  background-color: #fff;
  padding: 20px 20px 60px;
  position: relative;
  border-radius: 5px;
  display: none;
}

.insert .form-area:first-child {
  display: block;
}

.delete .form-area:last-child {
  display: block;
}

.comment-popup label {
  width: 50%;
  display: inline-block;
}

.comment-popup label:first-child {
  margin-right: -7px;
}

.delete label {
  width: 100%;
  margin-right: 0;
}

.comment-popup input, .comment-popup textarea {
  width: 100%;
  height: 34px;
  padding: 0 10px;
  vertical-align: top;
  font-size: 16px;
}

.comment-popup textarea {
  height: 68px;
  margin: 10px 0 0;
  padding: 10px;
  resize: vertical;
  font-family: Arial;
}

.comment-popup button {
  display: block;
  width: 100%;
  border: 0;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 35px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media (min-width: 420px) {
  .pannel {
      font: bold 17px/26px serif;
  }

  .invite-text {
      margin-top: 10px;
  }

  .title {
      line-height: 30px;
      margin-bottom: 15px;
  }

  #map {
      height: 240px;
  }

  .map-area dl dt {
      margin: 19px 0 4px;
  }

  :where(.groom, .bride)::before {
      font-size: 21px;
  }

  .heart {
      margin: 29px 0 21px;
  }

  .groom {
      margin-bottom: 10px;
  }

  .btn-popup {
      height: 30px;
  }

  .today {
      width: 27px;
      line-height: 27px;
  }
}
